<div *ngIf="status">
  <section class="parentContainer">
  <div *ngFor="let wdata of wZdata;let i = index" class="secondaryContainer">
    <div >{{wdata.money }}</div>
    <div>{{wdata.title}}</div>
    <div>
      <label>
        <input name="options" (click)="test(wdata.id)"
                       [checked]="wdata.id === model.id"
                       type="radio" required>Option {{i+1}}
      </label>
    </div>
  </div>
  </section>
</div>
<div *ngIf="!status">
  <section class="stepContainer">
    <div class="setContainerData">
    <div *ngFor="let wdata of wZdata;let i = index" class="financeStepData">
      <div class="containerData">
        <label>
          <input name="options" (click)="checkedStatus(wdata.id,$event)"
                 [checked]="wdata.id === model.id"
                 type="checkbox" [value]="wdata.id" required>Option {{i+1}}
        </label>
        <img class="containerImage" src="{{wdata.imgPath }}"/>
      </div>
      <section>
        <div>{{wdata.title }}</div>
        <div>
          <ul class="containerSecondary">
            <li *ngFor="let wmoreD of wdata.moreData | slice ">{{wmoreD}}</li>
          </ul>
        </div>
        <div>{{wdata.secondaryTitle }}</div>
      </section>
    </div>
    </div>
    <div class="secondaryDataView">
      <div class="parentContainerstyle">
        <div *ngFor="let wdata of wZdata;let i = index" class="secondaryNewContainer">
          <div >{{wdata.money }}</div>
          <div>{{wdata.title}}</div>
        </div>
      </div>
    </div>
  </section>
</div>
