.parentContainer {
  display: flex;
  flex-wrap:wrap;
  margin:-10px 0 0 -10px;
  text-align: center;
}
.secondaryContainer {
  align-items: center;
  width: 20%;
  margin: 0 1% 0 0;
  display: inline-block;
  flex-grow: 1;
}

.secondaryContainer div:nth-child(2) {
  background: #1976D2;
  min-height: 10rem;
  padding: 4%;
  border-radius: 1%
}

.secondaryContainer div:last-child {
  margin-top:0.5rem;
}
.parent-wrapper {
  height:100%;
  width:100%;
  border: 1px solid black;
}
.parent {
  display: flex;
  font-size: 0;
  flex-wrap:wrap;
  margin:-10px 0 0 -10px;
}
.child {
  display: inline-block;
  background:blue;
  margin:10px 0 0 10px;
  flex-grow: 1;
  height:100px;
  width: 20%;
}
.child div:last-child{
  margin: 1rem 0 0 0;
}
.secondaryNewContainer {
  align-items: center;
  width: 40%;
  margin: 0 2% 2% 0;
  display: inline-block;
  flex-grow: 1;
}
.secondaryNewContainer div:nth-child(2) {
  background: #1976D2;
  min-height: 10rem;
  padding: 4%;
  border-radius: 1%
}
.parentContainerstyle {
  margin:1%;
}
.stepContainer {
  display: flex;
}
.setContainerData {
  display: flex;
  flex-direction: column;
  min-width: 40%;
}
.financeStepData {
  background:#ccc;
  display: flex;
  border:1px solid black;
  border-radius: 2%;
  align-items: center;
  margin: 1%;
  padding: 3%;
}
.containerData {
  width: 25%;
  border-radius: 1%;
  min-height: 4rem;
}
.containerImage {
  width: 60%;
}
.containerSecondary {
  margin-bottom: 0;
  list-style: none;
  padding: 0
}
