<div class="container">
  <section class="demo">
    <div style="height: 500px;">
    <form-wizard (onStepChanged)="onStepChanged($event)">
      <wizard-step [title]="'Step1'" [isValid]="emailForm.form.valid" (onNext)="onStep1Next($event)">
        <form #emailForm="ngForm">
            <app-wview [wZdata]='name' (change)="firstStep($event)" [status]='true'></app-wview>
        </form>
      </wizard-step>
      <wizard-step [title]="'Step2'" [showNext]="step2.showNext" [showPrev]="step2.showPrev" (onNext)="onStep2Next($event)">

        <form>
          <app-wview [wZdata]='stepData' (change)="secondStep($event)" [status]='true'></app-wview>
        </form>
      </wizard-step>
      <wizard-step [title]="'Step3'" [isValid]="inValid"  (onNext)="onStep3Next($event)">
        <form>
            <app-wview [wZdata]='setpData2' [wZdataMore]='stepDatamore' (change)="thirdStep($event)" [status]='false'></app-wview>
        </form>
      </wizard-step>
     <wizard-step [title]="'Step4'">
        <div [ngSwitch]="isCompleted">
          <section class="stepWizardLast">
            <div class="selectedSection">
              <h3>
                Door deze selectie bedragen de
                kosten van dit gedeeltelijke
                basisinkomen:
                Totaal: 64,8 miljard € ( per jaar)
              </h3>
              <div>
                <ul>
                  <li><div class="selectedData">3,5 miljoen kinderen:</div> <span>0 miljard € ( per jaar)</span></li>
                  <li><div class="selectedData">13,5 miljoen volwassenen</div> <span>64,8 miljard € ( per jaar)</span></li>
                  <li><div class="selectedData">Woontoeslagen:</div> <span>0 miljard € ( per jaar)</span></li>
                  <li>{{testdata}}</li>
                </ul>
              </div>
              <div>
                <ul>
                  <li><div class="selectedData">Totaal:</div> 64,8 miljard € ( per jaar)</li>
                  <li>( dit is 9 % van wat we met zijn allen ieder jaar verdienen in
                    NL, dus 91 % wordt dan op een andere manier verdeeld (
                    loon, winst, huur, etc)</li>

                </ul>
              </div>
            </div>
            <div class="calculateData">
              <div class="calcDataColumn">
                <div class="monthRevenue">
                  <p> Revenue de base choise</p>
                  <h4>750 Eur /Mois</h4>
                </div>
                <div class="financeRevenue">
                  <p> Deficit ou excedent financers selon vos options</p>
                  <h4>+0 MDEur</h4>
                </div>
            </div>
              </div>
          </section>

          <section class="tableData">
            <div *ngFor="let tdata of tmoreData" class="tableDataHeader">
              {{tdata.title}}
            </div>
          </section>
          <section class="tableData tableData1">
            <div *ngFor="let tdata of tmoreData" class="tableDataRow">
              {{tdata.title}}
            </div>
          </section>
          <section class="tableData tableData2">
            <div *ngFor="let tdata of tmoreData" class="tableDataRow">
              {{tdata.title}}
            </div>
          </section>
          <section class="tableData tableData3">
            <div *ngFor="let tdata of tmoreData" class="tableDataRow">
              {{tdata.title}}
            </div>
          </section>
          <section class="tableData tableData4">
            <div *ngFor="let tdata of tmoreData" class="tableDataRow">
              {{tdata.title}}
            </div>
          </section>
        </div>
      </wizard-step>
    </form-wizard>
    </div>
  </section>
</div>
